/* 

CHANGE THE COLORS IN ALL CONTAINTERS 

&&

MAKE RESPONSIVE

*/


.container {  
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Small Small Small Small Medium Medium Medium Medium Small1 Small1 Small1 Small1"
      "Header Header Header Header Header Header Header Header Header Header img img"
      "Main Main Main Main Main Main Main Main Sidebar Sidebar Sidebar Sidebar"
      "Quote Quote Quote Quote Quote Quote Quote Quote Sidebar1 Sidebar1 Sidebar1 Sidebar1"
      "Small2 Small2 Small2 Medium1 Medium1 Medium1 Small3 Small3 Small3 Lg Lg Lg";
    height: 200vh;
    overflow: hidden;
    grid-gap: 0px;
}

.container > div {
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
  }
  
.Header{ 
    grid-area: Header; 
    background-color: #ffcc40;
    text-align: center;
    padding: 110px;
    }
  
.Sidebar{ 
    grid-area: Sidebar;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 9;
    grid-column-end: 13;
    background-color: #40CEF5;
    padding: 240px;
    padding-left: 40%;
    }

.Small{ 
    grid-area: Small; 
    background-color: #ff8360;
    padding: 110px;
    }

.Small1{ 
    grid-area: Small1; 
    background-color: #ff8360;
    padding: 110px;
    }
    
.Small2{ 
    grid-area: Small2; 
    background-color: #ff8360;
    padding: 110px;
    margin-bottom: -50px;

} 

.Small3{ 
    grid-area: Small3; 
    background-color: #ff8360;
    padding: 110px;
    margin-bottom: -50px;
    }

.Medium{ 
    grid-area: Medium; 
    background-color: #0EFAEE;
    padding: 110px;
    }

.Medium1{ 
    grid-area: Medium1; 
    background-color: #0EFAEE;
    padding: 110px;
    margin-bottom: -50px;

    }
  
.Main{ 
    grid-area: Main; 
    background-color: #ff4f4f;
    padding: 110px;
    }

.Quote{ 
    grid-area: Quote; 
    background-color: pink;
    padding: 110px;
    }
  
.Lg{ 
    grid-area: Lg; 
    background-color: #7dce82;
    padding: 110px;
    margin-bottom: -50px;

        }
        
.img{ 
    grid-area: img; 
    background-color: #7dce82;
    padding: 110px;
    }

footer {
    background-color: #F8C715; 
    padding: 20px;
    text-align: center;
    margin-top: 0px;
    font-family: 'Courier New', Courier, monospace;

}